
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../assets/images/logo/logo_final_web_300w.png" class="logo" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="">Reading</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Mathematics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">For Teachers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">For Schools</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-6 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Interactive learning content.</h1>
              <p>Practice your reading, writing and counting skills until you master them</p>
            </div>
          </div>
          <div class="col-lg-3 my-auto">
              <a routerLink="/lab/subjects/math/counting" class="btn btn-outline btn-xl js-scroll-trigger">Start Counting</a>
          </div>
          <div class="col-lg-3 my-auto">
              <a routerLink="/lab/subjects/science/solar" class="btn btn-outline btn-xl js-scroll-trigger">Start Reading</a>
          </div>
        </div>
      </div>
    </header>

    <footer>
      <div class="container">
        <p>&copy; 2017 Edgi. All Rights Reserved.</p>
        <ul class="list-inline">
            Friends:
          <li class="list-inline-item">
            <a href="https://t.co/RDe6XN2hB3" target="_blank">Teach For Nigeria</a> 
          </li>

          <li class="list-inline-item">
              <a href="http://r2safrica.org/#Home-1" target="_blank">R2S</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>
